<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mglj.shards.service.dao.api.DatasourcePropertyDao">

	<resultMap id="DatasourcePropertyResultMap" type="com.mglj.shards.service.domain.po.DatasourcePropertyPO">
        <result property="datasourceId" column="datasource_id"/>
        <result property="key" column="key"/>
        <result property="value" column="value"/>
	</resultMap>
	
	<sql id="columns">
		datasource_id,`key`,`value`
	</sql>
	
	<insert id="saveAllDatasourceProperty">
        INSERT INTO datasource_property (
        	datasource_id ,
        	`key` ,
        	`value`
        ) VALUES 
		<foreach collection="collection" item="item" open="(" close=")" separator="),(">
        	#{item.datasourceId} ,
        	#{item.key} ,
        	#{item.value}
		</foreach>
	</insert>
    
	<update id="updateAllDatasourceProperty" >
		<foreach collection="collection" item="item" open="" close="" separator=";">
			UPDATE datasource_property SET
				`value` = #{item.value}
			WHERE
				datasource_id = #{item.datasourceId} ,
				`key` = #{item.key}
		</foreach>
	</update>

    <delete id="deleteDatasourceProperty">
        DELETE FROM datasource_property
        WHERE
        	datasource_id = #{datasourceId}
    </delete>

	<!--<delete id="deleteSomeDatasourceProperty">-->
		<!--DELETE FROM datasource_property-->
		<!--WHERE-->
		<!--datasource_id = #{param1}-->
		<!--AND `key` IN-->
		<!--<foreach collection="param2" item="item" open="(" close=")" separator="),(">-->
			<!--#{item}-->
		<!--</foreach>-->
	<!--</delete>-->

	<select id="listDatasourceProperty" resultMap="DatasourcePropertyResultMap">
		SELECT <include refid="columns" />
		FROM datasource_property
		WHERE
			datasource_id = #{datasourceId}
	</select>
	
	<select id="listDatasourcePropertyByIds" resultMap="DatasourcePropertyResultMap">
    	SELECT <include refid="columns" />
	    FROM datasource_property 
		WHERE 
			datasource_id IN
			<foreach collection="collection" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>

	<select id="listAllDatasourceProperty" resultMap="DatasourcePropertyResultMap">
		SELECT <include refid="columns" />
		FROM datasource_property
	</select>
	
</mapper>

