<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <typeHandlers>
       <typeHandler handler="com.yhdx.baseframework.tool.data.mybatis.typehandler.CodeEnumTypeHandler"
                    javaType="com.yhdx.baseframework.common.enums.DataSourceRoleEnum"/>
       <typeHandler handler="com.yhdx.baseframework.tool.data.mybatis.typehandler.CodeEnumTypeHandler"
                    javaType="com.yhdx.baseservice.shards.domain.enums.DatasourceGroupStatusEnum"/>
    </typeHandlers>

</configuration>